<div class="dg-section">
  <div class="dg-section-title">JOURNAL DATABASE</div>
  
  <div id="dg-journal-warning">
    THIS IS A FEDERAL LAW ENFORCEMENT SYSTEM. UNAUTHORIZED<br>
    ACCESS IS A FEDERAL CRIME PUNISHABLE PER 18 USC § 1030
  </div>
  
  <div style="margin-top: 15px; margin-bottom: 15px;">
    <button id="dg-create-journal-btn" class="dg-button" style="width: 100%;">
      CREATE NEW JOURNAL ENTRY
    </button>
  </div>
  
  <div id="dg-journals" style="margin-top: 20px;">
    <ul class="dg-results-list" id="dg-journals-list">
      <!-- Liste des journaux générée dynamiquement -->
    </ul>
  </div>
</div>
