<div class="dg-section" style="width: 100%;">
  <div class="dg-section-title">SECURE MESSAGING SYSTEM</div>
  
  <div class="dg-section">
    <div class="dg-section-title">COMMUNICATIONS ENCRYPTED - AUTHORIZED PERSONNEL ONLY</div>
    <div id="dg-messages-container">
      <!-- Les messages seront chargés ici dynamiquement -->
    </div>
  </div>
  
  <div class="dg-mail-compose">
    <div class="dg-form-group">
      <textarea id="dg-message-input" class="dg-form-textarea dg-mail-textarea" placeholder="ENTER MESSAGE"></textarea>
    </div>
  </div>
</div>
