<div id="dg-web-overlay" class="dg-web-overlay">
  <div id="dg-web-window" class="dg-floating-window">
    <div id="dg-web-window-header">
      <div id="dg-web-window-title">WEB VIEW</div>
      <div id="dg-web-window-controls">
        <button id="dg-web-window-close" class="dg-window-button">X</button>
      </div>
    </div>
    <div id="dg-web-window-content">
      <iframe 
        id="dg-web-frame" 
        src="" 
        frameborder="0" 
        scrolling="no" 
        allow="fullscreen; clipboard-read; clipboard-write" 
        allowfullscreen>
      </iframe>
    </div>
    <div class="dg-resize-handle"></div>
  </div>
</div>
